<settings version="1">
  <section id="plugin.video.amazon-test">
    <!-- General -->
    <category id="general" label="30011">
      <group id="1">
        <setting id="playmethod" type="integer" label="30012" help="">
          <default>3</default>
          <constraints>
            <options>
              <option label="30299">0</option>
              <option label="30300">1</option>
              <option label="30301">2</option>
              <option label="30302">3</option>
            </options>
          </constraints>
          <control type="spinner" format="string"/>
        </setting>

        <!-- Browser or Script -->
        <setting id="browser" type="integer" label="30299" help="">
          <default>0</default>
          <constraints>
            <options>
              <option label="30303">0</option>
              <option label="30304">1</option>
              <option label="30305">2</option>
              <option label="30306">3</option>
            </options>
          </constraints>
          <control type="spinner" format="string"/>
          <dependencies>
            <dependency type="visible" operator="lt" setting="playmethod">2</dependency>
          </dependencies>
        </setting>

        <!-- Browser -->
        <setting id="cust_path" type="boolean" label="30043">
          <control type="toggle" />
          <default>false</default>
          <dependencies>
            <dependency type="visible" setting="playmethod">0</dependency>
          </dependencies>
        </setting>
        <setting id="br_path" parent="cust_path" type="path" label="30062" help="">
          <default/>
          <constraints>
            <writable>false</writable>
            <allowempty>true</allowempty>
          </constraints>
          <control type="button" format="file">
            <heading>30062</heading>
          </control>
          <dependencies>
            <dependency type="visible" setting="playmethod">0</dependency>
            <dependency type="enable" setting="cust_path">true</dependency>
          </dependencies>
        </setting>
        <setting id="ownappdata" type="boolean" label="30059">
          <control type="toggle" />
          <default>false</default>
          <dependencies>
            <dependency type="visible" setting="playmethod">0</dependency>
            <!-- Replaces enable="gt(-3,0) + lt(-3,3)" -->
            <dependency type="enable">
              <or>
                <condition setting="browser" operator="is">1</condition>
                <condition setting="browser" operator="is">2</condition>
              </or>
            </dependency>
          </dependencies>
        </setting>
        <setting id="kiosk" type="boolean" label="30042">
          <default>true</default>
          <control type="toggle" />
          <dependencies>
             <dependency type="visible" setting="playmethod">0</dependency>
             <!-- Replaces enable="!eq(-4,2) + !eq(-4,3)" -->
             <dependency type="enable">
                <and>
                  <condition setting="browser" operator="!is">2</condition>
                  <condition setting="browser" operator="!is">3</condition>
                </and>
             </dependency>
          </dependencies>
        </setting>

        <!-- Script -->
        <setting id="scr_path" type="string" label="30048">
          <default></default>
          <constraints>
            <writable>false</writable>
            <allowempty>true</allowempty>
          </constraints>
          <control type="button" format="file">
            <heading>30048</heading>
          </control>
          <dependencies>
            <dependency type="visible" setting="playmethod">1</dependency>
          </dependencies>
        </setting>
        <setting id="scr_param" type="string" label="30298">
          <default>{f} "{u}"</default>
          <control type="edit" format="string">
            <heading>30298</heading>
          </control>
          <dependencies>
            <dependency type="visible" setting="playmethod">1</dependency>
          </dependencies>
        </setting>
        <setting id="framerate" type="boolean" label="30049">
          <default>true</default>
          <control type="toggle" />
          <dependencies>
            <dependency type="visible" setting="playmethod">1</dependency>
          </dependencies>
        </setting>

      </group>

      <group id="2">
        <!-- Browser or Script -->
        <setting id="fullscreen" type="boolean" label="30041">
          <default>false</default>
          <control type="toggle" />
          <dependencies>
            <dependency type="visible" setting="playmethod" operator="lt">2</dependency>
          </dependencies>
        </setting>
        <setting id="clickwait" type="integer" label="30044">
          <default>10</default>
          <control type="slider" format="integer">
            <popup>false</popup>
          </control>
          <constraints>
            <minimum>1</minimum>
            <step>1</step>
            <maximum>30</maximum>
          </constraints>
          <dependencies>
            <dependency type="visible" setting="playmethod" operator="lt">2</dependency>
            <dependency type="enable" setting="fullscreen">true</dependency>
          </dependencies>
        </setting>
        <setting id="pininput" type="boolean" label="30045">
          <default>false</default>
          <control type="toggle" />
          <dependencies>
            <dependency type="visible" setting="playmethod" operator="lt">2</dependency>
          </dependencies>
        </setting>
        <setting id="pin" parent="pininput" type="string" label="30046">
          <default>0</default>
          <control type="edit" format="integer">
            <header>30046</header>
          </control>
          <dependencies>
            <dependency type="visible" setting="playmethod" operator="lt">2</dependency>
            <dependency type="enable" setting="pininput">true</dependency>
          </dependencies>
        </setting>
        <setting id="waitprepin" parent="pininput" type="integer" label="30057">
          <default>10</default>
          <control type="slider" format="integer">
            <popup>false</popup>
          </control>
          <constraints>
            <minimum>1</minimum>
            <step>1</step>
            <maximum>30</maximum>
          </constraints>
          <dependencies> <!-- FIXME need to check why and how kiosk is being referenced here -->
            <!-- Replaces visible="eq(-4,false) + lt(-15,2)" -->
            <dependency type="visible">
              <and>
                <condition setting="playmethod" operator="lt">2</condition>
                <condition setting="kiosk">false</condition>
              </and>
            </dependency>
            <!-- Replaces enable="eq(-2,true) + eq(-4,false)" -->
            <dependency type="enable">
              <and>
                <condition setting="pininput">true</condition>
                <condition setting="kiosk">false</condition>
              </and>
            </dependency>
          </dependencies>
        </setting>
        <setting id="waitpin" parent="pininput" type="integer" label="30047">
          <default>5</default>
          <control type="slider" format="integer">
            <popup>false</popup>
          </control>
          <constraints>
            <minimum>1</minimum>
            <step>1</step>
            <maximum>30</maximum>
          </constraints>
          <dependencies> <!-- FIXME need to check why and how kiosk is being referenced here -->
            <!-- Replaces visible="eq(-5,true) + lt(-16,2)" -->
            <dependency type="visible">
              <and>
                <condition setting="playmethod" operator="lt">2</condition>
                <condition setting="kiosk">true</condition>
              </and>
            </dependency>
            <!-- Replaces enable="eq(-3,true) + eq(-5,true)" -->
            <dependency type="enable">
              <and>
                <condition setting="pininput">true</condition>
                <condition setting="kiosk">true</condition>
              </and>
            </dependency>
          </dependencies>
        </setting>

        <!-- Inputstream -->
        <setting id="pref_host" type="string" label="30019">
          <default>Auto</default>
          <control type="list" format="string" />
          <constraints>
            <options>
              <option>Auto</option>
              <option>Akamai</option>
              <option>Cloudfront</option>
              <option>Level3</option>
              <option>Limelight</option>
              <option>Fastly</option>
              <option>Cdn77</option>
            </options>
          </constraints>
          <dependencies>
            <dependency type="visible" setting="playmethod">3</dependency>
          </dependencies>
        </setting>

        <setting id="is_settings" type="action" label="30013">
          <data>RunPlugin(plugin://plugin.video.amazon-test/?mode=openSettings&amp;url=is)</data>
          <control type="button" format="action">
            <close>true</close>
          </control>
          <dependencies>
            <dependency type="visible" setting="playmethod">3</dependency>
          </dependencies>
        </setting>

        <setting id="age_settings" type="action" label="30018">
          <data>RunPlugin(plugin://plugin.video.amazon-test/?mode=ageSettings)</data>
          <control type="button" format="action">
            <close>true</close>
          </control>
          <dependencies>
            <dependency type="visible" setting="playmethod">3</dependency>
          </dependencies>
        </setting>

        <setting id="wvl1_device" type="boolean" label="30006">
          <default>false</default>
          <control type="toggle" />
          <dependencies>
            <dependency type="visible" setting="playmethod">3</dependency>
            <dependency type="enable">
              <or>
                <condition setting="System.Platform.Android">true</condition>
                <condition setting="System.Platform.webOS">true</condition>
              </or>
            </dependency>
          </dependencies>
        </setting>

        <setting id="enable_uhd" parent="wvl1_device" type="boolean" label="30294">
          <default>false</default>
          <control type="toggle" />
          <dependencies>
            <dependency type="visible">
              <and>
                <condition setting="playmethod">3</condition>
                <condition setting="wvl1_device">true</condition>
              </and>
            </dependency>
            <dependency type="enable">
              <or>
                <condition setting="System.Platform.Android">true</condition>
                <condition setting="System.Platform.webOS">true</condition>
              </or>
            </dependency>
          </dependencies>
        </setting>

        <setting id="enable_hdr10" parent="wvl1_device" type="boolean" label="30295">
          <default>false</default>
          <control type="toggle" />
          <dependencies>
            <dependency type="visible">
              <and>
                <condition setting="playmethod">3</condition>
                <condition setting="wvl1_device">true</condition>
              </and>
            </dependency>
            <dependency type="enable">
              <or>
                <condition setting="System.Platform.Android">true</condition>
                <condition setting="System.Platform.webOS">true</condition>
              </or>
            </dependency>
          </dependencies>
        </setting>

        <setting id="enable_dovi" parent="wvl1_device" type="boolean" label="30296">
          <default>false</default>
          <control type="toggle" />
          <dependencies>
            <dependency type="visible">
              <and>
                <condition setting="playmethod">3</condition>
                <condition setting="wvl1_device">true</condition>
              </and>
            </dependency>
            <dependency type="enable">
              <or>
                <condition setting="System.Platform.Android">true</condition>
                <condition setting="System.Platform.webOS">true</condition>
              </or>
            </dependency>
          </dependencies>
        </setting>

        <setting id="enable_atmos" parent="wvl1_device" type="boolean" label="30297">
          <default>false</default>
          <control type="toggle" />
          <dependencies>
            <dependency type="visible">
              <and>
                <condition setting="playmethod">3</condition>
                <condition setting="wvl1_device">true</condition>
              </and>
            </dependency>
            <!-- FIXME check me, seems odd that it's forward reference-->
            <dependency type="enable" setting="proxy_mpdalter">true</dependency>
          </dependencies>
        </setting>

        <setting id="use_h265" parent="wvl1_device" type="boolean" label="30020">
          <default>false</default>
          <control type="toggle" />
          <dependencies>
            <dependency type="visible">
              <and>
                <condition setting="playmethod">3</condition>
                <condition setting="wvl1_device">true</condition>
              </and>
            </dependency>
          </dependencies>
        </setting>

        <setting id="proxy_mpdalter" type="boolean" label="30248">
          <default>true</default>
          <control type="toggle" />
          <dependencies>
            <dependency type="visible" setting="playmethod">3</dependency>
          </dependencies>
        </setting>

        <setting id="skip_scene" type="integer" label="30081">
          <default>1</default>
          <control type="spinner" format="integer" />
          <constraints>
            <options>
              <option label="30082">0</option>
              <option label="30083">1</option>
              <option label="30084">2</option>
              <option label="30085">3</option>
              <option label="30086">4</option>
            </options>
          </constraints>
          <dependencies>
            <dependency type="visible" setting="playmethod">3</dependency>
          </dependencies>
        </setting>

        <setting id="send_vp" type="integer" label="30066">
          <default>4</default>
          <control type="slider" format="percentage" />
          <constraints>
            <minimum>0</minimum>
            <step>2</step>
            <maximum>90</maximum>
          </constraints>
          <dependencies>
            <dependency type="visible" setting="playmethod">3</dependency>
          </dependencies>
        </setting>

        <!-- Browser or Script -->
        <setting id="remotectrl" type="boolean" label="30074">
          <default>false</default>
          <control type="toggle" />
          <dependencies>
            <dependency type="visible" setting="playmethod" operator="lt">2</dependency>
          </dependencies>
        </setting>

        <setting id="remote_vol" parent="remotectrl" type="boolean" label="30075">
          <default>false</default>
          <control type="toggle" />
          <dependencies>
            <dependency type="visible" setting="playmethod" operator="lt">2</dependency>
            <dependency type="enable" setting="remotectrl">true</dependency>
          </dependencies>
        </setting>

      </group>
    </category>

    <!-- Language -->
    <category id="language" label="30021">

      <!-- Duplicate removed (primary is in General tab )
        <setting id="proxy_mpdalter" type="bool" label="30248" default="true" visible="false"/>
      -->

      <group id="1" label="30033">
        <!-- Audio Section -->

        <setting id="audio_langs" type="action" label="30285">
          <data>RunPlugin(plugin://plugin.video.amazon-test/?mode=langSettings&amp;url=audio_langs)</data>
          <control type="button" format="action">
            <close>true</close>
          </control>
          <dependencies>
            <dependency type="enable" setting="proxy_mpdalter">true</dependency>
          </dependencies>
        </setting>

        <setting id="audio_description" type="boolean" label="30005">
          <default>false</default>
          <control type="toggle" />
        </setting>
      </group>

      <group id="2" label="30034">
        <!-- Subtitles Section -->

        <setting id="sub_langs" type="action" label="30286">
          <data>RunPlugin(plugin://plugin.video.amazon-test/?mode=langSettings&amp;url=sub_langs)</data>
          <control type="button" format="action">
            <close>true</close>
          </control>
          <dependencies>
            <dependency type="enable" setting="proxy_mpdalter">true</dependency>
          </dependencies>
        </setting>

        <setting id="sub_stretch" type="boolean" label="30028">
          <default>false</default>
          <control type="toggle" />
        </setting>

        <setting id="sub_stretch_factor" parent="sub_stretch" type="integer" label="30027">
          <default>0</default>
          <control type="list" format="string" />
          <constraints>
            <options>
              <option label="30307">0</option>
              <option label="30308">1</option>
              <option label="30309">2</option>
              <option label="30310">3</option>
              <option label="30311">4</option>
              <option label="30312">5</option>
            </options>
          </constraints>
          <dependencies>
            <dependency type="enable" setting="sub_stretch">true</dependency>
          </dependencies>
        </setting>
      </group>

      <group id="3" label="30050">
        <!-- Amazon Section -->
        <setting id="pv_language" type="action" label="30025">
          <data>RunPlugin(plugin://plugin.video.amazon-test/pv/languageselect/)</data>
          <control type="button" format="action">
            <close>true</close>
          </control>
        </setting>
      </group>
    </category>

    <!-- Connection -->
    <category id="connection" label="30038">

      <group id="1">
        <setting id="ssl_verif" type="boolean" label="30037">
          <default>false</default>
          <control type="toggle" />
        </setting>

        <setting id="items_perpage" type="integer" label="30039">
          <default>40</default>
          <control type="slider" format="integer" />
          <constraints>
            <minimum>20</minimum>
            <step>10</step>
            <maximum>250</maximum>
          </constraints>
        </setting>
      </group>

      <group id="2" label="30001">
        <!-- Amazon account -->
        <setting id="region" type="integer" label="30313">
          <default>0</default>
          <constraints>
            <options>
              <option label="30314">0</option>
              <option label="30315">1</option>
              <option label="30316">2</option>
              <option label="30317">3</option>
              <option label="30318">4</option>
              <option label="30319">5</option>
              <option label="30320">6</option>
              <option label="30321">7</option>
              <option label="30322">8</option>
              <!-- Reserve labels 30323..30350 for expansion of Amazon regions -->
            </options>
          </constraints>
          <control type="list" format="string" />
        </setting>

        <setting id="profiles" type="boolean" label="30024">
          <default>true</default>
          <control type="toggle" />
        </setting>

        <setting id="show_pass" type="boolean" label="30026">
          <default>true</default>
          <control type="toggle" />
        </setting>

        <setting id="rememberme" type="boolean" label="30022">
          <default>true</default>
          <control type="toggle" />
        </setting>

        <setting id="multiuser" type="boolean" label="30009">
          <default>false</default>
          <control type="toggle" />
        </setting>

        <!-- Multiuser Actions -->
        <setting id="login_multi" parent="multiuser" type="action" label="30130">
          <data>RunPlugin(plugin://plugin.video.amazon-test/?mode=LogIn)</data>
          <control type="button" format="action">
            <close>true</close>
          </control>
          <dependencies>
            <dependency type="visible" setting="multiuser">true</dependency>
          </dependencies>
        </setting>

        <setting id="remove_user" parent="multiuser" type="action" label="30131">
          <data>RunPlugin(plugin://plugin.video.amazon-test/?mode=removeUser)</data>
          <control type="button" format="action">
            <close>true</close>
          </control>
          <dependencies>
            <dependency type="visible" setting="multiuser">true</dependency>
          </dependencies>
        </setting>

        <!-- Single User Actions -->
        <setting id="login_single" parent="multiuser" type="action" label="30008">
          <data>RunPlugin(plugin://plugin.video.amazon-test/?mode=LogIn)</data>
          <control type="button" format="action">
            <close>true</close>
          </control>
          <dependencies>
            <dependency type="visible" setting="multiuser">false</dependency>
          </dependencies>
        </setting>

        <setting id="login_acc" parent="multiuser" type="action" label="30014">
          <control type="button" format="action" />
          <dependencies>
            <dependency type="visible" setting="multiuser">false</dependency>
            <dependency type="enable" setting="nonexistant">true</dependency>
          </dependencies>
        </setting>

        <setting id="rem_data_single" parent="multiuser" type="action" label="30007">
          <data>RunPlugin(plugin://plugin.video.amazon-test/?mode=remLoginData)</data>
          <control type="button" format="action">
            <close>true</close>
          </control>
          <dependencies>
            <dependency type="visible" setting="multiuser">false</dependency>
          </dependencies>
        </setting>

        <setting id="rem_data_multi" parent="multiuser" type="action" label="30010">
          <data>RunPlugin(plugin://plugin.video.amazon-test/?mode=remLoginData)</data>
          <control type="button" format="action">
            <close>true</close>
          </control>
          <dependencies>
            <dependency type="visible" setting="multiuser">true</dependency>
          </dependencies>
        </setting>
      </group>
    </category>

    <!-- Datasource -->
    <category id="datasource" label="30273">
      <group id="1">
        <!-- Main Switch -->
        <setting id="data_source" type="integer" label="30273">
          <default>0</default>
          <constraints>
            <options>
              <option label="30351">0</option>
              <option label="30301">1</option>
            </options>
          </constraints>
          <control type="spinner" format="string" />
        </setting>
      </group>

      <group id="2">

        <!-- Website Mode (Data Source 0) -->
        <setting id="catalog_cache_expiry" type="integer" label="30257">
          <default>2</default>
          <constraints>
            <options>
              <option label="30258">0</option>
              <option label="30259">1</option>
              <option label="30260">2</option>
              <option label="30261">3</option>
              <option label="30262">4</option>
              <option label="30263">5</option>
              <option label="30264">6</option>
              <option label="30265">7</option>
            </options>
          </constraints>
          <control type="spinner" format="string" />
          <dependencies>
            <dependency type="visible" setting="data_source">0</dependency>
          </dependencies>
        </setting>

        <setting id="pv_clearcache" type="action" label="30087">
          <data>RunPlugin(plugin://plugin.video.amazon-test/pv/clearcache/)</data>
          <control type="button" format="action">
            <close>true</close>
          </control>
          <dependencies>
            <dependency type="visible" setting="data_source">0</dependency>
          </dependencies>
        </setting>

        <setting id="paginate_hdr" type="action" label="30243">
          <control type="button" format="action" />
          <dependencies>
            <dependency type="visible" setting="data_source">0</dependency>
          </dependencies>
        </setting>

        <setting id="paginate_everything" parent="paginate_hdr" type="boolean" label="30244">
          <default>false</default>
          <control type="toggle" />
          <dependencies>
            <dependency type="visible" setting="data_source">0</dependency>
          </dependencies>
        </setting>

        <setting id="paginate_watchlist" parent="paginate_hdr" type="boolean" label="30245">
          <default>false</default>
          <control type="toggle" />
          <dependencies>
            <dependency type="visible" setting="data_source">0</dependency>
            <dependency type="enable" setting="paginate_everything">false</dependency>
          </dependencies>
        </setting>

        <setting id="paginate_collections" parent="paginate_hdr" type="boolean" label="30246">
          <default>false</default>
          <control type="toggle" />
          <dependencies>
            <dependency type="visible" setting="data_source">0</dependency>
            <dependency type="enable" setting="paginate_everything">false</dependency>
          </dependencies>
        </setting>

        <setting id="paginate_search" parent="paginate_hdr" type="boolean" label="30247">
          <default>true</default>
          <control type="toggle" />
          <dependencies>
            <dependency type="visible" setting="data_source">0</dependency>
            <dependency type="enable" setting="paginate_everything">false</dependency>
          </dependencies>
        </setting>

        <setting id="reset_home" type="action" label="30095">
          <data>RunPlugin(plugin://plugin.video.amazon-test/pv/sethome/)</data>
          <control type="button" format="action"><close>true</close></control>
          <dependencies>
            <dependency type="visible" setting="data_source">0</dependency>
          </dependencies>
        </setting>

        <!-- Android Mode (Data Source 1) -->
        <setting id="paycont" type="boolean" label="30073">
          <default>false</default>
          <control type="toggle" />
          <dependencies>
            <dependency type="visible" setting="data_source">1</dependency>
          </dependencies>
        </setting>

        <setting id="paycol" parent="paycont" type="string" label="30292">
          <default>FFE95E01</default>
          <control type="edit" format="string" />
          <dependencies>
            <dependency type="visible">
              <and>
                <condition setting="data_source">1</condition>
                <condition setting="paycont">true</condition>
              </and>
            </dependency>
          </dependencies>
        </setting>

        <setting id="primecol" parent="paycont" type="string" label="30293">
          <default>FF00A8E0</default>
          <control type="edit" format="string" />
          <dependencies>
            <dependency type="visible">
              <and>
                <condition setting="data_source">1</condition>
                <condition setting="paycont">true</condition>
              </and>
            </dependency>
          </dependencies>
        </setting>

        <setting id="disptvshow" type="boolean" label="30071">
          <default>false</default>
          <control type="toggle" />
          <dependencies>
            <dependency type="visible" setting="data_source">1</dependency>
          </dependencies>
        </setting>

        <setting id="preload_seasons" parent="disptvshow" type="boolean" label="30096">
          <default>true</default>
          <control type="toggle" />
          <dependencies>
            <dependency type="visible" setting="data_source">1</dependency>
            <dependency type="enable" setting="disptvshow">true</dependency>
          </dependencies>
        </setting>

        <setting id="preload_all_seasons" parent="preload_seasons" type="boolean" label="30097">
          <default>false</default>
          <control type="toggle" />
          <dependencies>
            <dependency type="visible" setting="data_source">1</dependency>
            <dependency type="enable" setting="preload_seasons">true</dependency>
          </dependencies>
        </setting>

        <setting id="hide_trailers" type="boolean" label="30099">
          <default>false</default>
          <control type="toggle" />
          <dependencies>
            <dependency type="visible" setting="data_source">1</dependency>
          </dependencies>
        </setting>

        <setting id="show_cats" type="boolean" label="30291">
          <default>false</default>
          <control type="toggle" />
          <dependencies>
            <dependency type="visible" setting="data_source">1</dependency>
          </dependencies>
        </setting>

        <!-- Artwork Section -->
        <setting id="artwork_hdr" type="action" label="30352">
          <control type="button" format="action" />
        </setting>

        <setting id="pv_episode_thumbnails" parent="artwork_hdr" type="boolean" label="30249">
          <default>true</default>
          <control type="toggle" />
          <dependencies>
            <dependency type="visible" setting="data_source">0</dependency>
          </dependencies>
        </setting>

        <setting id="tmdb_art" parent="artwork_hdr" type="integer" label="30016">
          <default>1</default>
          <constraints>
            <options>
              <option label="30050">0</option>
              <option label="30051">1</option>
              <option label="30052">2</option>
            </options>
          </constraints>
          <control type="list" format="string" />
          <dependencies>
            <dependency type="visible" setting="data_source">1</dependency>
          </dependencies>
        </setting>

        <setting id="tvdb_art" parent="artwork_hdr" type="integer" label="30017">
          <default>1</default>
          <constraints>
            <options>
              <option label="30050">0</option>
              <option label="30053">1</option>
              <option label="30054">2</option>
            </options>
          </constraints>
          <control type="list" format="string" />
          <dependencies>
            <dependency type="visible" setting="data_source">1</dependency>
          </dependencies>
        </setting>

        <setting id="useshowfanart" parent="artwork_hdr" type="boolean" label="30055">
          <default>true</default>
          <control type="toggle" />
          <dependencies>
            <dependency type="visible" setting="data_source">1</dependency>
          </dependencies>
        </setting>
      </group>
    </category>

    <!-- Views -->
    <category id="views" label="30015">
      <group id="1">
        <setting id="viewenable" type="boolean" label="30035">
          <default>false</default>
          <control type="toggle" />
        </setting>

        <setting id="movieview" type="integer" label="30029">
          <default>5</default>
          <constraints>
            <options>
              <option label="30353">0</option>
              <option label="30354">1</option>
              <option label="30355">2</option>
              <option label="30356">3</option>
              <option label="30357">4</option>
              <option label="30358">5</option>
              <option label="30359">6</option>
              <option label="30360">7</option>
              <option label="30361">8</option>
              <option label="30362">9</option>
            </options>
          </constraints>
          <control type="spinner" format="integer" />
          <dependencies>
            <dependency type="enable" setting="viewenable">true</dependency>
          </dependencies>
        </setting>

        <setting id="movieid" type="integer" label="View ID">
          <level>1</level> <!-- Replaces subsetting="true" -->
          <control type="edit" format="integer" />
          <dependencies>
            <dependency type="enable">
              <and>
                <condition setting="movieview">9</condition>
                <condition setting="viewenable">true</condition>
              </and>
            </dependency>
          </dependencies>
        </setting>

        <setting id="showview" type="integer" label="30030">
          <default>4</default>
          <constraints>
            <options>
              <option label="30353">0</option>
              <option label="30354">1</option>
              <option label="30355">2</option>
              <option label="30356">3</option>
              <option label="30357">4</option>
              <option label="30358">5</option>
              <option label="30359">6</option>
              <option label="30360">7</option>
              <option label="30361">8</option>
              <option label="30362">9</option>
            </options>
          </constraints>
          <control type="spinner" format="integer" />
          <dependencies>
            <dependency type="enable" setting="viewenable">true</dependency>
          </dependencies>
        </setting>

        <setting id="showid" type="integer" label="View ID">
          <level>1</level>
          <control type="edit" format="integer" />
          <dependencies>
            <dependency type="enable">
              <and>
                <condition setting="showview">9</condition>
                <condition setting="viewenable">true</condition>
              </and>
            </dependency>
          </dependencies>
        </setting>

        <setting id="seasonview" type="integer" label="30031">
          <default>4</default>
          <constraints>
            <options>
              <option label="30353">0</option>
              <option label="30354">1</option>
              <option label="30355">2</option>
              <option label="30356">3</option>
              <option label="30357">4</option>
              <option label="30358">5</option>
              <option label="30359">6</option>
              <option label="30360">7</option>
              <option label="30361">8</option>
              <option label="30362">9</option>
            </options>
          </constraints>
          <control type="spinner" format="integer" />
          <dependencies>
            <dependency type="enable" setting="viewenable">true</dependency>
          </dependencies>
        </setting>

        <setting id="seasonid" type="integer" label="View ID">
          <level>1</level>
          <control type="edit" format="integer" />
          <dependencies>
            <dependency type="enable">
              <and>
                <condition setting="seasonview">9</condition>
                <condition setting="viewenable">true</condition>
              </and>
            </dependency>
          </dependencies>
        </setting>

        <setting id="episodeview" type="integer" label="30032">
          <default>3</default>
          <constraints>
            <options>
              <option label="30353">0</option>
              <option label="30354">1</option>
              <option label="30355">2</option>
              <option label="30356">3</option>
              <option label="30357">4</option>
              <option label="30358">5</option>
              <option label="30359">6</option>
              <option label="30360">7</option>
              <option label="30361">8</option>
              <option label="30362">9</option>
            </options>
          </constraints>
          <control type="spinner" format="integer" />
          <dependencies>
            <dependency type="enable" setting="viewenable">true</dependency>
          </dependencies>
        </setting>

        <setting id="episodeid" type="integer" label="View ID">
          <level>1</level>
          <control type="edit" format="integer" />
          <dependencies>
            <dependency type="enable">
              <and>
                <condition setting="episodeview">9</condition>
                <condition setting="viewenable">true</condition>
              </and>
            </dependency>
          </dependencies>
        </setting>
      </group>
    </category>

    <!-- Export -->
    <category id="export" label="30060">
      <group id="1">
        <setting id="enablelibraryfolder" type="bool" label="30061" default="false"/>
        <setting id="customlibraryfolder" type="folder" label="30062" enable="eq(-1,true)" default="special://profile/addon_data/plugin.video.amazon-test" source="auto" option="writeable" subsetting="true"/>
        <setting id="cr_nfo" type="bool" label="30063" default="true"/>
        <setting id="mediasource_movie" type="text" label="30064" default="Amazon Movies"/>
        <setting id="mediasource_tv" type="text" label="30065" default="Amazon TV"/>
        <setting id="wl_export" type="bool" label="30080" default="false"/>
        <setting id="export_not_aired" type="bool" label="30288" default="true"/>
      </group>
    </category>
    <!-- Miscellaneous -->
    <category id="miscellaneous" label="30070">
      <group id="1">
        <setting label="30070" type="lsep"/>
        <setting id="search_history" type="bool" label="30098" default="true"/>
        <setting id="wl_order" type="enum" label="30076" lvalues="30077|30079|30078" default="0"/>
        <setting label="Log" type="lsep"/>
        <setting id="logging" type="bool" label="30072" default="false"/>
        <setting id="json_dump" type="bool" label="30196" default="false"/>
        <setting id="json_dump_raw" type="bool" label="30199" default="false" enable="eq(-1,true)" subsetting="true"/>
        <setting id="json_dump_collisions" type="bool" label="30197" default="false" enable="eq(-2,true)" subsetting="true"/>
        <setting id="log_http" type="bool" label="30274" default="false"/>
        <setting id="create_zip" label="30275" type="action" action="RunPlugin(plugin://plugin.video.amazon-test/?mode=createZIP)"/>
        <setting id="rm_logs" label="30276" type="action" action="RunPlugin(plugin://plugin.video.amazon-test/?mode=removeLogs)"/>
      </group>
    </category>
  </section>
</settings>
